body {
  font-family: Arial, sans-serif;
  background-color: #eeebdd;
  margin: 0;
  padding: 0;
}

/*Visualizador de listas*/

hr {
  color: transparent;
}

.container {
  width: 40%;
  margin: 50px auto;
  height: fit-content;
  background-color: #1b1717;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-usuarios {
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 400px;
  background-color: #eeebdd;
  border-radius: 4px;
}

h1 {
  text-align: center;
  color: #eeebdd;
}

/*Creador de Alquileres*/
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 20px;
}

.col-md-4 {
  width: 33.33%;
  float: left;
}

.form-group {
  width: 100%;
}

label {
  display: block;
  color: #eeebdd;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eeebdd;
  border-radius: 4px;
  margin-top: 5px;
}

/* Ajustes para centrar el botón y separar el campo "To:" */
.button-container {
  text-align: center;
}

button {
  background-color: #810000;
  color: #eeebdd;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
}

button:hover {
  background-color: #ce1212;
}
